<div class="body">
    <div class="login">
    <form [formGroup]="form">
        <img src="/imagenes/hombre.png" width="50%">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <mat-form-field appearance="outline" class ="ancho">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo" autocomplete="off" type="number">
        </mat-form-field>
        <mat-form-field appearance="outline" class ="ancho">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="contrasena" autocomplete="off" type="password" >
        </mat-form-field>
        <mat-form-field appearance="fill" class ="ancho">
            <mat-label>Emisor</mat-label>
            <mat-select formControlName="codigoEmisor"  required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let emisor of listaEmisores" [value]="emisor.codigo">
                    {{emisor.nombreEmisor}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.hasError('required')">Escoger emisor</mat-error>
        </mat-form-field>
             </form>
    <button mat-raised-button color="primary" (click)="login()" [disabled]="form.invalid">Ingresar</button>
    </div>
</div>