.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: center;
    background: linear-gradient(90deg, rgb(247, 248, 250), rgb(144, 213, 235));
}

.login{
    width: 100%;
    max-width: 330px;
    text-align:center;
}
.ancho{
    width: 80%;
}
.button{
    height: 60px;
}
.spinner{
    margin: 0 auto;
}